%header.header.row
  .two-thirds.column.heading
    %h1 Tom Spencer
    %h4.position.standout Mobile Web Developer
    %p.strapline An experienced, creative and quick-learning web developer seeking freelance and/or contract work at an innovative, cutting edge company.
  .one-third.column.contact-details
    .address 
      %span.icon-compass.contact-icon
      %span.screen-reader-text Address
      26 Grove Park Avenue, Bristol
    .tel
      %span.icon-phone.contact-icon
      %span.screen-reader-text Phone
      %a{:href => "tel:+447825345094"} 07825 345094
    .email
      %span.icon-envelope.contact-icon
      %span.screen-reader-text Email
      %a{:href => "mailto:spencer.ts@gmail.com"} spencer.ts@gmail.com
    .twitter
      %span.icon-twitter.contact-icon
      %span.screen-reader-text Twitter
      %a{:href => "http://twitter.com/fiznool", :target => "_blank"} @fiznool
    .blog
      %span.icon-comments.contact-icon
      %span.screen-reader-text Blog
      %a{:href => "http://fiznool.com", :target => "_blank"} fiznool.com
    .github
      %span.icon-github.contact-icon
      %span.screen-reader-text Github
      %a{:href => "http://github.com/fiznool", :target => "_blank", :target => "_blank"} github.com/fiznool
%hr/
#main.row
  .two-thirds.column.main-content
    %h3.section-title Portfolio
    %p The following work is in the public domain. Other client work can be viewed on request.
    %h4 
      %a.link-with-icon{:href => "http://safariapps.heroku.com", :target => "_blank"}
        %span.link-text SafariApps
        %span.icon-mobile.standout
        %span.screen-reader-text Link to live demo
    %p A hybrid mobile application for safari adventurers. 
    %ul.square
      %li Project began with a wireframing session with the client.
      %li 
        This quickly moved onto a rapid prototype, built with Sinatra and Bootstrap. The prototype is
        = succeed "," do
          %a{:href => "http://safariapps-prototype.heroku.com", :target => "_blank"} hosted on Heroku
        and the source code can be
        %a{:href => "https://github.com/fiznool/SafariApps-Prototype", :target => "_blank"} viewed on Gitub.
      %li 
        Production app is currently in development; it is based on the
        = succeed "." do
          %a{:href => "https://github.com/fiznool/mobile-backbone-boilerplate", :target => "_blank"} 
          Mobile Backbone Boilerplate library
      %li Client is happy with the agile process: builds are regularly uploaded to Heroku for approval.
    %p
      The latest work-in-progress version of the app
      %a{:href => "http://safariapps.heroku.com", :target => "_blank"} can be seen here.
    %h4 
      %a.link-with-icon{:href => "http://safariapps.heroku.com", :target => "_blank"}
        %span.link-text SweepBook
        %span.icon-monitor.standout
        %span.screen-reader-text Link to live demo
    %p A Facebook app, developed with a friend to raise money for the 2011 Great North Run.
    %ul.square
      %li App was built using Ruby on Rails and Twitter Bootstrap.
      %li Operates in standalone mode or is embedded within the Facebook chrome. 
      %li Integrates with Facebook Graph API so that donators can be tagged and displayed on a donators page.
    %p 
      See the
      %a{:href => "http://sweepbook.heroku.com/", :target => "_blank"} live app hosted on Heroku
      and
      %a{:href => "https://github.com/joewoodhouse30/SweepBook", :target => "_blank"} browse the source code on Github. 
    %h3.section-title Libraries
    %p
      All libraries are open source and can be found on
      = succeed "." do
        %a{:href => "http://github.com/fiznool"} Github
    %h4
      %a.link-with-icon{:href => "https://github.com/fiznool/mobile-backbone-boilerplate", :target => "_blank"} 
        %span.link-text Mobile Backbone Boilerplate 
        %span.icon-github.standout
        %span.screen-reader-text Link to Github repository
    %p A fork of the popular Backbone Boilerplate library, aimed at mobile devices. Used to develop SafariApps.
    %h4
      %a.link-with-icon{:href => "https://github.com/fiznool/tappivate", :target => "_blank"}
        %span.link-text Tappivate
        %span.icon-github.standout
        %span.screen-reader-text Link to Github repository
    %p
      A jQuery/Zepto plugin to make mobile web buttons and list views feel a bit more 'native'. Featured in
      = succeed "." do
        %a{:href => "http://javascriptweekly.com/archive/100.html"} JavaScript Weekly issue 100
    %h4
      %a.link-with-icon{:href => "https://github.com/fiznool/oneliner", :target => "_blank"}
        %span.link-text One Liner
        %span.icon-github.standout
        %span.screen-reader-text Link to Github repository
    %p A jQuery/Zepto plugin to shrink text until it fits on one line. Developed for SafariApps to ensure that text in a mobile list view does not wrap to the next line.
    %h3.section-title Community
    %h4 SWmobile
    %p 
      Organiser of
      = succeed "." do
        %a{:href => "http://www.meetup.com/swmobile", :target => "_blank"} SWmobile meetup group
    %p With over 140 members, the group meets every 6-8 weeks to discuss mobile design and development. Currently Bristol-based, there are plans to expand the group to further afield in the South West.
    %h3.section-title Experience
    %h4 
      Senior Mobile Web Developer, 
      %a{:href => "http://www.mubaloo.com", :target => "_blank"} Mubaloo
    %h5.experience-date January 2012 - Present
    %ul.square
      %li Deputy of the mobile web team; responsible for the development of browser-based and hybrid mobile web applications in a fast-paced agency environment.
      %li Worked on a variety of projects, including financial apps and HTML5 games.
      %li Frequently involved in client meetings, scoping/quoting, user stories, wireframing, UX design, development, testing and deployment to app stores.
      %li Experience developing for a number of different devices, including iPhone, iPad, Android, BlackBerry and Window Phone.
      %li Introduced a new single-page web framework - Mobile Backbone Boilerplate - which is now the standard for all new client projects.
      %li Championed Agile methodologies resulting in adoption of user stories and rapid prototyping across the business.
    %h4 Co-founder, Isca Networks
    %h5.experience-date November 2007 - December 2011
    %ul.square
      %li Startup developing web-based touch screen kiosk hardware and software.
      %li Part of 4-strong agile development team creating product using web technologies.
      %li Launched product in 2009; achieved sales in UK, France and Canada.
      %li Led team to deployment of 170 kiosks across 9 retail stores in France.
      %li Other duties varied from handling hardware operations and logistics, liaising with customers and investors, supporting product, setting targets, reporting results to Board of Directors and handling financial forecasts.
      %li Left in 2011 after business relocated to Canada.
    %h3.section-title Education
    %h4 MEng Electrical & Electronic Engineering, University of Bristol
    %h5.experience-date September 2002 - June 2006
    %ul.square
      %li Graduated with First class honours, second highest mark in year (82%).
  .one-third.column.technologies
    %h3.section-title Technologies
    .row.key
      .key-item.clearfix
        .key-stars
          %span.icon-star.standout
          %span.screen-reader-text One star
        Familiar
      .key-item.clearfix
        .key-stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Two stars
        Proficient
      .key-item.clearfix
        .key-stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
        Experienced
    .row
      .full-width
        %img{:src => 'images/logos/html5_css3.png', :alt => 'HTML5 and CSS3 logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
    .row
      .full-width
        %img{:src => 'images/logos/compass.png', :alt => 'Compass logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
    .row
      .half-width
        %img{:src => 'images/logos/js.png', :alt => 'JavaScript logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
      .half-width
        %img{:src => 'images/logos/phonegap.png', :alt => 'Phonegap logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Two stars
    .row
      .full-width
        %img{:src => 'images/logos/jquery.png', :alt => 'jQuery logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
    .row
      .full-width
        %img{:src => 'images/logos/backbone.png', :alt => 'Backbone.js logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
    .row
      .half-width
        %img{:src => 'images/logos/facebook.png', :alt => 'Facebook logo'}
        .stars
          %span.icon-star.standout
          %span.screen-reader-text One star
      .half-width
        %img{:src => 'images/logos/gmaps.png', :alt => 'Google Maps logo'}
        .stars
          %span.icon-star.standout
          %span.screen-reader-text One star
    .row
      .half-width
        %img{:src => 'images/logos/ruby.png', :alt => 'Ruby logo'}
        .stars
          %span.icon-star.standout
          %span.screen-reader-text One star
      .half-width
        %img{:src => 'images/logos/php.png', :alt => 'PHP logo'}
        .stars
          %span.icon-star.standout
          %span.screen-reader-text One star
    .row
      .full-width
        %img{:src => 'images/logos/aws.png', :alt => 'AWS logo'}
        .stars
          %span.icon-star.standout
          %span.screen-reader-text One star
    .row
      .full-width
        %img{:src => 'images/logos/heroku.png', :alt => 'Heroku logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Two stars
    .row
      .half-width
        %img{:src => 'images/logos/apple.png', :alt => 'Apple logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
      .half-width
        %img{:src => 'images/logos/android.png', :alt => 'Android logo'}
        .stars
          %span.icon-star.standout
          %span.icon-star.standout
          %span.icon-star.standout
          %span.screen-reader-text Three stars
    .row
      .full-width
        %img{:src => 'images/logos/wp8.png', :alt => 'Windows Phone 8 logo'}
        .stars
          %span.icon-star.standout
          %span.screen-reader-text One star
    .row
      .full-width
        %img{:src => 'images/logos/blackberry.png', :alt => 'BlackBerry logo'}
        .stars
          %span.icon-star.standout
          %span.screen-reader-text One star
%hr/
%footer.footer.row
  .footer-credits
    Copyright 2012 Tom Spencer.
  .footer-credits
    Source is 
    = succeed "." do
      %a{:href => 'http://github.com/fiznool/cv'} available on Github
  .footer-credits
    Built with 
    = succeed "." do
      %a{:href => 'http://getskeleton.com'} Skeleton
    Icons by 
    = succeed "." do
      %a{:href => 'http://icomoon.io'} IcoMoon